body {
    background: rgb(58, 63, 73);
}
img {
    max-width: 300px;
    display: block;
}
.jumbotron {
    background: rgb(217,216,220);
    background: linear-gradient(144deg, rgb(232, 231, 233) 0%, rgb(204, 207, 211) 100%);
}
#launchModal {
    background: none;
    border: none;
    text-decoration: none;
}
#launchModal:hover {
    background: none;
    border: none;
    text-decoration: none;
}
#submit {
    background: #14C6E6 !important;
    border: #14C6E6 !important;
}
#submit:hover {
    background: #2E91A3 !important;
    border: #2E91A3 !important;
}
a {
    text-decoration: none!important;
    color: #2E91A3;
}
a:hover {
    text-decoration: none!important;
    color: rgb(28, 94, 105);
}